Screen {
    background: $panel;
    layers: below above;
}

Input {
    dock: bottom;
    margin: 0 3 1 3;
    layer: below;
}

#buffer_panel {
    width: 130;
    margin: 0 0 0 3;
    height: 100%;
    overflow: hidden scroll;
    layer: below;
    border: none;
    background: $panel;
}

#generation_panel {
    width: 80%;
    height: 15;
    offset: 10% 4;
    overflow: auto;
    layer: above;
    border: tall $foreground;
    overflow: hidden scroll;
    border-title-align: center;
}