Screen {
    background: $panel;
}

Input {
    dock: bottom;
    margin: 0 0 1 0;
}

#buffer_panel {
    width: 125;
    background: $background 50%;
    margin: 0 0 1 0;
    height: 100%;
    border: tall $background;
    overflow: auto;
}